/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1e1e1e;
  --accent: #e58411;
  --font-main: "Rubik", sans-serif;
}

html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 800px;
}

.math {
  margin-top: 50px;
  font-family: "Rubik", serif;
}

.math__row {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  gap: 5px;
}

.math__content {
  padding: 20px 10px 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #eeebeb;
  border-radius: 3px;
}

.math__title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.math__question {
  margin-top: 60px;
  letter-spacing: 10px;
  font-style: italic;
  font-size: 26px;
}

.answers {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 24px;
}
.answers button {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

.checkbox {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.operations {
  width: 100%;
  height: 100%;
  background: #e8e0e0;
  border-radius: 3px;
}