@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html,
body {
	font-family: var(--font-main);
	color: var(--text-color);
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 800px;
}
